/*----------------FONTS-------------*/
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/courgette/v6/wEO_EBrAnc9BLjLQAUk1WPoK7Es.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/courgette/v6/wEO_EBrAnc9BLjLQAUk1VvoK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 
/*-----PAGE LOAD BAR-----*/

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: #e7e7e7;
  z-index : 1001; 
}
.loader-container {
  width: 500px;
}
.loader-container img {
  width: 160px;
}
.loader-container img.first {
  visibility: hidden;
  -webkit-animation: ld-wander-px-v 2s infinite ease-in-out;
  animation: ld-wander-px-v 2s infinite ease-in-out;
}
.loader-container img.second {
  visibility: hidden;
  -webkit-animation: ld-wander-px-v 2s infinite ease-in-out;
  animation: ld-wander-px-v 2s infinite ease-in-out;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader-container img.third {
  visibility: hidden;
  -webkit-animation: ld-wander-px-v 2s infinite ease-in-out;
  animation: ld-wander-px-v 2s infinite ease-in-out;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.ld.ld-wander {
  display: inline-block;
}
.savvy-loader {
  margin: 0 auto;
  display: block !important;
}

@keyframes ld-wander-px-v {
    0%,to {
        -webkit-transform: translate(0,-35px);
        transform: translate(0,-35px)
    }

    50% {
        -webkit-transform: translate(0,35px);
        transform: translate(0,35px)
    }
}

@-webkit-keyframes ld-wander-px-v {
    0%,to {
        -webkit-transform: translate(0,-35px);
        transform: translate(0,-35px)
    }

    50% {
        -webkit-transform: translate(0,35px);
        transform: translate(0,35px)
    }
}

@-webkit-keyframes slide {
    100% { 
      opacity: 1;
    }
}

@keyframes slide {
    100% { 
      opacity: 1;
    }
}
.title-block-main {
  height: 100vh;
  position: relative;
  background-blend-mode: multiply;
  background: rgba(0,0,0,0.28);
  left: 0;
  width: 100%;
  /*top: -80px;*/
}
.title-block-spacer {
  background: url('../img/cover_bg.jpg');
}
.title-block-spacer, .block-spacer, .block-spacer-savvy {
  position: relative;
  z-index: 16;
  width: 100%;
  overflow: hidden;
  top: 20px;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -1px 3px 35px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 35px 8px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 35px 8px rgba(0,0,0,0.75);
  transition: all 0.8s ease;
}
.block-spacer {
  top: 0;
  background: rgba(0,0,0,0.6);
}
.block-spacer-savvy {
  background-image: url('../img/savvy_cover.jpg');
}
.about-savvy .jarallax .block-spacer {
  background: rgba(2, 0, 35, 0.7);
}
/*Add pattern overlay to video for better text readability and to hide video flaws*/
.video_contain {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(4, 17, 30, 0.36);
  background-image: url(../img/pattern2.png);
  z-index: 5;
}

/* Pull video under overlay */
.video {
  height: 100% !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1 !important;
  position: relative !important;
  object-fit: cover;
  background-image: url(../img/cover_bg.jpg);
  position: absolute !important;
}
.title-main {
  transition: all 0.4s ease;
  position: absolute;
  left: 360px;
  overflow: hidden;
  bottom: -132px;
  transform: translate(-50%, -50%);
  z-index: 12;
  text-align: left;
  color: black;
  display: none;
}
.title-main p, h1, h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.title-savvy {
  display: none;
  color: white;
  position: absolute;
  left: auto;
  bottom: auto;
  height: 100%;
  width: 100%;
  transform: none;
  letter-spacing: 5px;
}
.title-savvy h1 {
  font-weight: 300;
  font-size: 60px;
  animation: fadein 1s;
}
.title-main p  {
  color: white;
}

.title-main p {
  position: relative;
  top: 50%;  
  text-align: left;
  white-space: nowrap;
  padding-left: 15px;
  overflow: hidden;
  /*transform: translateY(-50%);    */
}
.center-middle {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Animation */
.anim, .anim2, .anim3, .anim4 {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.4s;
  animation: slide 0.5s forwards;
  animation-delay: 0.4s;
  font-size: 34px;
  font-weight: 500;
}

.anim2 {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1.2s;
  animation: slide 0.5s forwards;
  animation-delay: 1.2s;
}

.anim3 {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

.anim4 {
  margin-top: 20px !important;
  font-size: 50px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 3s;
  animation: slide 1s forwards;
  animation-delay: 3s;
  font-weight: 700;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.arrow-down, .arrow-down-main {
  display: none;
  position: absolute;
  left: 48.5%;
  z-index: 20;
  bottom: 30px;
}
.arrow-down {
  animation: fadein 1s;
}
.arrow-down-main {
  right: 25px;
  bottom: 22px;
  display: none;
  left: auto;
  animation: fadein 1s;
}
.arrow-down img {
  width: 40px;
  transition: all 0.4s ease;
}
.arrow-down img:hover {
  margin-bottom: -10px;
}
.bg_overlay, .bg_overlay_savvy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
}
.bg_overlay_savvy {
  background: rgba(19, 0, 50, 0.58);
}
.bg_overlay {
  background: rgba(0,0,0,0.4);
}
.jarallax {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.media-title-block {
  height: 60vh;
  position: relative;
  background: rgba(0,0,0,0.5);
}
section {
  transition: all 1s ease !important;
}
.block {
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 60px;
  height: 100vh;
  background: white;
}
.text-block, .text-block-info {
  width: 84.25%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 86.25rem;
  font-size: 18px;
  text-align: left;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}
.text-block-info h1 {
  margin-bottom: 10px;
}

.social_link {
  margin-left: 10px;
  color: #e7e7e7;
  text-decoration: none; 
}

.links {
  text-decoration: none;
  color: #e7e7e7;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease; 
}
.links:focus, .links:hover {
  color: #6a22f9;
  text-decoration: none;
}
.icon, .contact-icon,
.contact-icon-footer {
  width: 35px;
  height: 35px;
}
.contact-icon {
  margin-right: 15px;
}

.contact-icon-footer {
  margin: 0px;
}

.phone {
  width: 25px;
  height: 25px;
}

.email {
  height: 32px;
  width: 32px;
}

.description, .samples, .phoenix, 
.savvy, .contact, .testimonials, 
.platinum, .about-savvy, .insta  {
  height: 100%;
  /*background: #626060;*/
  border: 60px solid white;
  border-top-width: 15px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /*padding: 60px 60px 0 60px;*/
}
.description {
  border-top-width: 39px;
}
.about-savvy {
  border-top-width: 39px;
}
.description-center, .samples-center, .phoenix-center, 
.savvy-center, .contact-center, .testimonials-center,
.platinum-center, .about-savvy-center, .insta-center {
  overflow: hidden;
  padding: 10px 35px 2px 35px;
  z-index: 12;
  width: 100%;
  color: #e7e7e7;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.insta-center {
  padding: 10px 0px 2px 0px;
}
.platinum-center {
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgba(3, 0, 29, 0.69);
}
.insta-center .col-md-12 {
  color: #e7e7e7;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}
.contact-center .col-md-12 a,
.insta-center .col-md-12 a {
  color: #9b9b9b;
  text-decoration: underline;
}
.insta-center .col-md-12 a {
  color: #fff;
}
.savvy-center {
  background: rgba(4, 4, 44, 0.62);
  padding-bottom: 30px;
}
.description-center h1,
.samples-center h1,
.phoenix-center h1,
.savvy-center h1,
.contact-center h1,
.platinum-center h1,
.testimonials-center h1,
.about-savvy-center h1, 
.insta-center h1 {
  font-weight: 500;
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
}
/*.about-savvy-center {
  padding: 10px 35px 2px 35px;
}*/
.samples-left p, .samples-right p, 
.samples-single p {
  display: none;
}

h2 {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
.description-center .header-text {
  font-size: 33px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
.text-contain {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  transition: all 0.3s ease;
}
.client-header {
  margin-bottom: 0px !important;
  margin-top: 30px;
}
.logo-board {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.samples-left {
  width: 50%;
  padding: 0 30px 30px 30px;
  float: left;
}
.samples-right {
  width: 50%;
  padding: 0 30px 30px 30px;
  float: right;
}
.samples-single {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 30px 0 30px;
}
.samples-center h1,
.samples-center h2 {
  margin-bottom: 30px;
}
.phoenix-center h1, h2 {
  margin-bottom: 30px;
}
.background-text,
.background-text-right,
.background-text-top-left,
.background-text-left-middle,
.background-text-right-bottom,
.background-text-left-bottom {
  position: absolute;
  opacity: 0.1;
  color: white;
  z-index: -1;
}
.background-text h1,
.background-text-right h1,
.background-text-top-left h1,
.background-text-left-middle h1,
.background-text-right-bottom h1,
.background-text-left-bottom h1 {
  font-size: 74px;
  margin-bottom: 0;
}
.background-text {
  top: -10px;
  right: 10px;
}
.background-text-right {
  top: -10px;
  right: 10px;
}
.background-text-top-left {
  left: 10px;
  top: 0px;
}
.background-text-left-middle {
  left: 10px;
  top: 40%;
}
.background-text-right-bottom {
  bottom: 0;
  right: 10px;
}
.background-text-left-bottom {
  bottom: 0;
  left: 10px;
}
h2 {
    font-size: 22px;
}
.testimonial {
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  text-align: center; 
  margin-top: 30px;
  transition: all 0.3s ease;
}
.quote {
  font-style: italic; 
  font-family: 'Courgette', cursive;
  font-size: 30px;
}
.profile {
  width: 350px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.profile-img {
  margin-bottom: 10px;
}
.profile-img img {
  width: 70px;
}
.name {
  font-style: normal; 
  margin-bottom: 0;
}
.position {
  color: #868686;
  font-size: 15px; 
}
hr {
  width: 100px;
}
.show-hidden {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}
.hidden-content {
  display: block;
  margin-bottom: 30px;
}
::after, ::before {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/*INSTAGRAM*/

#instafeed {
  margin-bottom: 90px;
  margin-top: 65px;
}
.owl-item .item img {
  display: block;
  position: relative;
  height: 170px;
  width: auto;
}
.owl-item {
  overflow: hidden;
}
.item {
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
}
.img-info img.icon-sml {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 auto;
}
.animation-container {
  overflow: hidden;
  display: inline-block;
}
.instagram-img {
  filter: sepia(30%);
}
.likes {
  overflow: hidden;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.likes p {
  margin-left: 10px;
}
.insta-overlay {
  position: absolute;
  padding: 0px 25px 0px 25px;  
  bottom: 100%;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease;
}

.item:hover .insta-overlay {
  opacity: 1
}

.item:hover {
  transform: scale(1.04, 1.04);
}

.img-info {
  color: white;
  font-size: 20px;
  position: absolute;
  padding: 1px 20px 0px 20px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-info p {
  display: inline-block;
  /*padding-top: 2px;*/
  font-size: 15px;
  /*vertical-align: middle;*/
}
.img-info {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-info p {
  display: inline-block;
  font-size: 15px;
  float: left;
}

.icon-sml {
  width: 17px;
}
.simply-scroll-container { position:relative;}
.simply-scroll-clip { position:relative; overflow:hidden;}
.simply-scroll-list { margin:0; padding:0; overflow:hidden;}
.simply-scroll-list li { float:left; width:150px; height:150px; margin:0; padding:0; list-style:none;}


.contact-footer a .col-md-4 {
  text-align: center;
  /*transition: all 0.4s ease !important;*/
}

.contact-footer a .col-md-4 hr {
  width: 25px;
}
.contact-footer a .col-md-4 p {
  color: white;
  margin-top: 10px;
  font-size: 13px; 
  font-family: 'Montserrat', sans-serif;
}

.contact-footer a .col-md-4 .dark {
  color: #9b9b9b;
  font-family: 'Montserrat', sans-serif;
}
.contact-footer .col-md-12 {
  text-align: center;
  font-size: 12px;
  color: #9b9b9b; 
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}
.contact-footer {
  position: relative;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 40px 0 10px 0;
  /*font-weight: 600;*/
}
.contact-footer .general-link-margin {
  margin-bottom: 50px;
}
.contact-links {
  z-index: 20;
  margin-top: 30px;
  overflow: hidden;
  height: 100%;
}
.samples.no-margin .samples-center {
  padding-bottom: 30px;
} 
.samples.no-margin .samples-center .text-contain .songlist-link {
  text-align: center;
  font-size: 20px;
}
.general-link {
  color: white;
  font-size: 20px;
  cursor: default;
  transition: all 0.3s ease;
}
.general-link:hover {
  text-decoration: none;
  color: #4286f4;
}
.general-link u {
  text-decoration: none;
  border-bottom: 1px solid #4286f4;
}
/*-----------NAVBAR STYLES-------------*/
/* Navbar */
.navbar-default {
  transition: none; 
  background-color: transparent;
  margin-bottom: 0px;
  z-index: 99;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 53px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: none;
  position: fixed;
}
.navbar {
  border-radius: 0px 0px 0px 0px;
  border: 0px;
}
.navbar-default {
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.container {
  width: auto;
  margin-left: 35px;
  margin-right: 45px;
}
.navbar-nav {
  width: 100%;
  text-align: right;
  float: right;
  margin-right: -30px;
}
.navbar-nav hr {
  display: none;
}
.navbar-left {
  position: absolute;
  width: 50px;
  height: 50px;
}
.navbar-nav li {
  float: none;
  display: inline-block;
}


.logo-img {
  /*margin-top: 6px;*/
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease;
}
.navbar-default.smaller .container .navbar-header .logo-img {
  top: 0px;
  left: 0px;
  height: 70px !important;
  transition: all 0.3s ease;
}
.navbar-default .container .navbar-header .logo-img {
  top: 90px;
  left: 20px;
  height: 100px !important;
}
.fix-jarallax {
  transform: translateY(0) translateZ(0) !important;
}
.edge-compatibility {
  transform: translateY(0) translateZ(0) !important;
  /*top: 210px !important;*/
  height: 130vh !important;
  position: fixed !important;
  width: 110% !important;
  /*Cut out underflow of image when fixed*/
}
#navbar {
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav .active a {
  color: #3b3b3b;
  /*transition: all 0.1s ease;*/
}

.navbar-default.smaller {
  background: white;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
}

.navbar-default.smaller .navbar-nav > li > a {
  color: #3b3b3b;
  transition: width .3s;
}
/*.navbar-default .navbar-nav > li > a::after,
.navbar-default.smaller .navbar-nav > li > a::after {
  position: absolute;
  bottom: -3px;
  content: '';
  display: block;
  background-color: #6a22f9;
  transition: width .3s;
  width: .001%;
  height: 3px;
  left: 0;
}*/
.navbar-default .navbar-nav > li > a::after {
  bottom: -4px;
}

.navbar-default .navbar-nav > li > a:hover::after,
.navbar-default.smaller .navbar-nav > li > a:hover::after {
  width: 100%;
}
.navbar-default .navbar-nav>li>a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #3b3b3b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #4286f4; 

}
.navbar-default.smaller .navbar-nav > li > a:hover,
.navbar-default.smaller .navbar-nav > li > a:focus  {
  -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #4286f4;
}
.navbar-default.smaller .navbar-nav>.active>a:focus {
  color: #4286f4;
}
.navbar-default .navbar-nav>.active>a:focus {
  color: #4286f4;
}

.navbar-brand {
  padding: 0px;
}
.navbar-toggle {
  float: right;
}
.navbar-default .navbar-toggle,
.navbar-default-home .navbar-toggle {
  border-color: transparent; /* Removes border color */
}
.navbar-default .navbar-toggle .icon-bar, .navbar-default-home .navbar-toggle .icon-bar {
    background-color: #5c6174;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default > .container > .navbar-header > a > img {
  height: 70px !important;
  padding: 4px 8px 22px 8px;
}
.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a {
  line-height: 18px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/*.navbar-default.smaller > .container > .navbar-header > a > img {
    width: auto !important;
    height: 100px !important;
}*/
/*.navbar-default.smaller .navbar-nav > li {
  margin-right: 30px;
}
.navbar-default.smaller .navbar-nav > li > a {
    line-height: 80px;
}*/
.navbar-toggle {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.go-up {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 37px;
  width: 37px;
  padding-bottom: 60px;
  background: white;
  width: 100%;
  z-index: 20;
}
.up-arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.go-up a {
  text-decoration: none;
  color: white;
}
.link-no-decoration {
  text-decoration: none;
}
.mobileHide {
  display: none;
}
.mobileHide .name-header {
  display: none;
}

.logo-img-mobile {
  display: none;
}
@media all and (max-width: 991px) {
  .navbar-toggle {
    top: 0px;
    right: 23px;
  }
  .title-block-main .jarallax .title-main h1 {
    font-size: 52px;
    right: 10px;
  }
  .text-block, .text-block-info {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .title-block-left .jarallax .title, .title-block-main .jarallax .title-main {
    left: 30px;
    right: 30px;
  }
  .navbar-nav > li > a {
    font-size: 14px;
  }
  h2 {
    font-size: 27px;
  }
  .navbar-nav {
    margin: 0px -15px;
  }
  .navbar-default.smaller .navbar-nav > li > a.active {
    border-bottom: none;
  }
  .title-main {
    top: auto;
    left: 268px;
    bottom: -115px;
  }
  .title-savvy {
    left: auto;
    word-spacing: 100vw;
    margin: auto;
    bottom: auto;
  }
  .anim, .anim2, .anim3, .anim4 {
    font-size: 28px;
  }
  .anim4 {
    font-size: 38px;
  }
  .arrow-down img {
    width: 30px;
  }
  .arrow-down-main {
    right: 15px;
    bottom: 14px;
  }
  .title-block-spacer {
    background-position: 23%;
  }
  .navbar-right {
    right: 20px;
  }
 /* .title-block-spacer {
    top: 210px;
  }*/
  .slider {
    height: 590px;
    width: 600px;
  }
  .image-slider img {
    width: 100%;
    height: 337px;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .caption {
    width: 100%;
    border-radius: 0px;
  }
  .media-title-block {
    height: 50vh;
  }
  .contact-footer .col-md-4 {
    margin-bottom: 30px;
    width: 100%;
    float: left;
  }
  .go-up {
    padding-top: 20px;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 21px;
    margin-left: 26px;
  }
  .logo-board {
    max-width: 450px;
  }
  .samples-left, .samples-right, .samples-single {
    width: 100%;
    padding: 10px;
  }
  .samples-left p, .samples-right p, .samples-single p {
    display: block;
  }
  .samples-center .text-contain h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
  .container {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .title-block-spacer, .block-spacer, .block-spacer-savvy {
    -webkit-box-shadow: -1px -2px 43px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -2px 43px 3px rgba(0,0,0,0.75);
    box-shadow: -1px -2px 43px 3px rgba(0,0,0,0.75);
  }
  .description-center h1, .samples-center h1, .phoenix-center h1, 
  .savvy-center h1, .contact-center h1, .platinum-center h1,
  .testimonials-center h1, .about-savvy-center h1, .insta-center h1 {
    font-size: 35px;
  }
  .description-center .header-text {
    font-size: 25px;
  }
  .agency-jarallax {
    border-bottom: 86px solid white;
  }
  .item {
    height: 200px;
    width: 200px;
  }
  .img-info p {
    font-size: 12px;
  }
  .likes {
    margin-bottom: 10px;
  }
  .navbar-default .container .navbar-header .logo-img {
    z-index: -1;
  }
}
@media (max-width: 767px) {
  .mobileHide .name-header {
    color: #616161;
    top: 100%;
    left: 51%;
    display: block;
  }
  .navbar-nav {
    margin: 0px -15px;
    height: 100vh;
    width: 100%;
    background: white;
    text-align: center;
    margin: 0;
    padding-top: 5vh;
  }
  .navbar-nav hr {
    display: block;
    width: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #4286f4;
  }
  .navbar-nav {
    padding-top: 60px;
  }
  .navbar-nav li {
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #4286f4;
    margin-bottom: 20px;
  }
  .navbar-default.smaller .navbar-nav .active {
    border-bottom: none;
  }
  .container {
    padding-right: 0px; 
    padding-left: 0px; 
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    line-height: 3px;
    padding-right: 10px;
  }
  .animation-container {
    margin: 0;
    margin-bottom: 2px;
  }
  .title-main p  {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .title-main p.anim4 {
    font-size: 27px;
    margin-top: 10px !important;
  }
  .title-main {
    top: auto;
  }
  .title-main.main-page {
    left: 190px;
    bottom: -60px;
    top: auto;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, 
  .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .logo-board {
    max-width: 310px;
  }
  .navbar-left {
    left: 48px;
  }
  .description-center, .samples-center, .phoenix-center, .platinum-center .savvy-center, .contact-center {
    padding: 10px 25px 2px 25px;
  }
  .savvy-center, .phoenix-center {
    padding: 10px 25px 20px 25px;
  }
  .loader-container {
    width: 250px;
  }
  .loader-container img {
    width: 80px;
  }
  .samples-center {
    padding: 10px 25px 25px 25px;
  }
  .navbar-default .container .navbar-header .logo-img {
    top: 85px;
    left: 12px;
    height: 70px !important;
  }
  .agency-jarallax {
    border-bottom: 50px solid white;
  }
  .contact {
    margin-bottom: 0;
    border-bottom: 50px solid white !important;
  }
  hr {
    display: none !important;
  }
}
@media all and (max-width: 479px) {
  .navbar-nav hr {
    display: block !important;
    width: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #4286f4;
    margin: 0 auto !important;
  }
  .navbar-nav li {
    width: 100%;
    margin: 0 auto;
    border-bottom: none;
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    transition: none;
  }
  .navbar-toggle {
    top: 0px;
    right: -5px;
  }
  .title-block-main .jarallax .title-main h1 {
    font-size: 52px;
    right: 10px;
  }
  .text-block, .text-block-info {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .title-block-left .jarallax .title, .title-block-main .jarallax .title-main {
    left: 30px;
    right: 30px;
  }
  .add-top-padding {
    padding: 0px;
  }
  .info-list li {
    font-size: 15px;
  }
  .title-block-left,
  .title-block-right {
    top: 10px;
    height: 40vh;
    margin-bottom: 50px;
  }
  .navbar-nav > li > a {
    font-size: 14px;
  }
  .title-main {
    width: 352px;
    left: 53%;
  }
  .btn-animated {
    font-size: 12px;
  }
  h2 {
    font-size: 26px;
  }
  .navbar-nav {
    margin: 0px -15px;
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  .navbar-default.smaller .navbar-nav > li > a.active {
    border-bottom: none;
  }
  .block {
    padding: 20px;
    height: 90vh;
  }
  .title-block-spacer {
    height: 90%;
    margin-top: 36px;
    background-size: cover;
    background-position: 27%;
  }
  .title-main.main-page {
    position: absolute;
    left: 10px;
    overflow: hidden;
    bottom: 6px;
    transform: none;
  }
  .title-main {
    top: auto;
  }
  .navbar-default.smaller .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a {
    line-height: 35px;
    font-size: 15px;
  }
  .title-main p  {
    font-size: 17px;
    padding-left: 0;
    margin-bottom: 4px;
  }
  .title-main p.anim4 {
    font-size: 21px;
  }
  /*.insta-overlay {
    height: 30px;
    bottom: 0px;
    padding-bottom: 5px;
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }*/
  .img-info {
    padding-bottom: 5px;
  }
  .navbar-nav li {
    display: block;
  }
  .navbar-collapse {
     padding-right: 0px; 
     padding-left: 0px; 
  } 
  .navbar-right {
    right: 4px;
  }
  .logo-img-mobile  {
    top: 0;
  }
  .description, .samples, .phoenix, .savvy, 
  .contact, .testimonials, .platinum, .about-savvy, .insta {
    border: 20px solid white;
  }
  .description-center, .samples-center, .phoenix-center, 
  .savvy-center, .contact-center, .platinum-center, 
  .testimonials-center, .about-savvy-center, .insta-center {
    font-size: 15px;
  }
  .samples, .phoenix, .savvy, 
  .contact, .testimonials, .about-savvy, .insta {
    border-top: 40px solid white;
  }
  .samples {
    border-bottom: 40px solid white;
  }
  .logo-board {
    max-width: 250px;
  }
  .samples-left, .samples-right, .samples-single {
    width: 100%;
    padding: 10px;
  }
  .anim-typewriter {
    padding-left: 2px !important;
  }
  h1 {
    font-size: 30px;
  }
  .background-text h1, .background-text-right h1, 
  .background-text-left-middle h1, .background-text-right-bottom h1,
  .background-text-left-bottom h1 {
    font-size: 40px;
  }
  .profile {
    width: 275px;
  }
  .quote {
    font-size: 26px;
  }
  .description-center .header-text {
    font-size: 23px;
  }  
  .title-savvy {
    width: 100%;
    left: 0;
    margin: 0 auto;
  }
  .title-savvy h1 {
    word-spacing: 100vw;
    margin: auto;
    font-size: 40px;
  }
  .arrow-down {
    left: 44%;
  }
  .arrow-down-main {
    display: none !important;
  }
  .block-spacer-savvy {
    height: 80vh;
    background-position: 81%;
  }
  .no-margin {
    margin-bottom: 0;
  }
  .description-center h1, .samples-center h1, 
  .phoenix-center h1, .savvy-center h1, 
  .contact-center h1, .testimonials-center h1, 
  .about-savvy-center h1 {
    font-size: 33px;
  }
  .container {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .description, .about-savvy {
    border-top: 37px solid white;
  }
  .samples.no-margin .samples-center .text-contain .songlist-link {
    text-align: center;
    font-size: 15px;
  }
  .navbar-left {
    left: 10px;
  }
  .navbar-default .container .navbar-header .logo-img {
    top: 80px;
    left: 10px;
    height: 80px !important;
  }
  .item {
    height: 170px;
    width: 170px;
  }
  .img-info p {
    font-size: 11px;
  }
  .likes {
    margin-bottom: 5px;
  }
  .agency-jarallax {
    border-bottom: 86px solid white;
  }
  .img-info {
    padding: 1px 10px 0px 10px;
  }
} 
@media all and (max-width: 330px) {
  .title-main p  {
    font-size: 17px;
    margin-bottom: 4px;
  }
  .title-main p.anim4 {
    font-size: 19px; 
  }
  .description-center, .samples-center, .phoenix-center, .savvy-center, .contact-center {
    padding: 10px 15px 2px 15px;
  }
}